mat-card{
  margin: 20px auto;
  width: 95%;
  border-radius: 10px;
}

.toolbar{

  border-radius: 5px;
  color-scheme: light;
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
